body
  {
    max-width: 1030px;
    max-height: 1000px;
    margin: auto;
    background-color: #1D3559;
  }

.h2
{
  font-family: serif;
  background-color: #CCEEEE;
  height: 1000px;
  text-align: left;
  padding-left: 5px;
}

.h2 p
{
  font-size: 60px;
  padding-left: 25px;
  padding-top: 5px;
}

.navbar2 ul 
{
  list-style: none;
}

.navbar2 li
{
  display: inline;
}

.navbar2 a
{
  padding:14px 16px;
  font-size: 15px;
  color: #00688B   ;
  text-decoration: underline;
}

.navbar2 a:hover
{
  color:white;
  background: #104E8B   ;
  text-decoration: underline;
}

.navbar2
{
    background-color: white;
    height:900px;
    font-family: sans-serif;
    margin:30px;
    box-shadow: 0px 20px 25px 5px   lightslategray;
}

#experiment h4
{
  padding-left:60px;
  padding-top: 44px;
  padding-bottom: 10px
}

#experiment select
{
  font-size:15px;
}

#experiment p
{
  font-size:16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 0.3;
  color:#00009C;
  font-weight: bolder;
}

#sen2
{
  color:blue !important;
  font-style:italic !important;
  font-weight:lighter !important;
  margin-bottom: 50px;
}

button, #rightorwrong
{
  margin: 10px;
  font-size: 15px;
  
}

#userSenetence, #rightorwrong
{
  font-size: 30px;
}

ul
{
  font-size: 20px;
  padding: 20px 0 0 0;
}